<!DOCTYPE html>
<html lang="zxx">
<head>
   <jcms:site:seotitle/>

  <!-- Fevicon -->
  <jcms:site:fevicon/>
    <link rel="shortcut icon" href="img/preloader.png" />
    <link rel="stylesheet" href="css/plugins.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    

    <!-- Navbar -->
         <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    
    
     <jcms:module:header/>
     <jcms:module:header-script/>
    
     <!--contactus-->
     <jcms:module:contact-us/>


    <!-- Footer -->
     <jcms:module:footer/>
    

    
    <!-- jQuery -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery-migrate-3.4.1.min.js"></script>
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.isotope.v3.0.2.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scrollIt.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/YouTubePopUp.js"></script>
    <script src="js/select2.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/datepicker.js"></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
     <script type="text/javascript">
            // var base_url = $('base').attr('url');
            $(document).ready(function () {
                $('#contactform').validate({
                    errorElement: 'span',
                    errorClass: 'validate-has-error text-danger',
                    rules: {
                        fullname: {required: true},
                        phone: {required: true},
                        address: {required: true},
                        email: {required: true, email: true},
                        message: {required: true}
                    },
                    messages: {
                        fullname: {required: "Please enter your Name."},
                        phone: {required: "Please enter your Phone Number."},
                        address: {required: "Please enter your Address."},
                        email: {required: "Please enter your Email Address."},
                        message: {required: "Please enter your Message."}
                    },
                    submitHandler: function (form) {
                        var recaptcha = $("#g-recaptcha-response").val();
                    if (recaptcha === "") {
                        event.preventDefault();
                        alert("Please check the recaptcha");
                        return false;
                    }
                        var Frmval = $("form#contactform").serialize();
                        $("button#submit").attr("disabled", "true").text('Processing...');
                        $.ajax({
                            type: "POST",
                            dataType: "JSON",
                            url: "enquery_mail.php",
                            data: "action=forContact&" + Frmval,
                            success: function (data) {
                                var msg = eval(data);
                                $("button#submit").removeAttr("disabled").text('Submit');
                                $('div#result_msg').html(msg.message).css('display', 'block','color','red').fadeOut(8000);
                                $("form#contactform")[0].reset();
                            }
                        });
                        return false;
                    }
                })
            });
            </script>
    
</body>
</html>