<!DOCTYPE html>
<html lang="zxx">
<head>
     <jcms:site:seotitle/>

  <!-- Fevicon -->
  <jcms:site:fevicon/>
    
    <link rel="stylesheet" href="css/plugins.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/lightgallery.min.css">
</head>

<body>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- Navbar -->
     <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    
    
     <jcms:module:header/>
     <jcms:module:header-script/>

    <!--header-->
     <jcms:module:gallery-bread/>

    <!-- Gallery Image -->
   <div class="container">
    <h6 class="text-center" 
        style="width: 75%; margin: 80px auto 0px auto; letter-spacing: 1px;">
        Check out our gallery to see the luxurious rooms, elegant dining areas, 
        and stunning facilities that make Big Hotel a memorable destination.
    </h6>
</div>


            <!-- Image Gallery -->
    <section class="section-padding">
        <div class="container">
            <div class="main text-center">
                <div class="container">
                    <ul class="list-unstyled row gallery-ul">
                        <li class="col-md active" data-class="all">ALL</li>
                        <jcms:module:gallery-nav/>
                    </ul>
                </div>

                <div class="container-fluid" id="gallery">       
                   <jcms:module:gallery-list/>
                </div>
            </div>
        </div>
    </section>
     

   

    <!-- Footer -->
 <jcms:module:footer/>
        

    
    <!-- jQuery -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/jquery-migrate-3.4.1.min.js"></script>
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.isotope.v3.0.2.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scrollIt.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/YouTubePopUp.js"></script>
    <script src="js/select2.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/function.js"></script>

    <!-- lightgallery plugins -->
    <script src="js/lightgallery.min.js"></script>
    <script src="js/lg-share.min.js"></script>
    <script src="js/lg-fullscreen.min.js"></script>
    <script src="js/lg-zoom.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#gallery").lightGallery();
        });
    </script>
</body>
</html>