<!DOCTYPE html>
<html lang="zxx">
<head>
    <jcms:site:seotitle/>

  <!-- Fevicon -->
  <jcms:site:fevicon/>
    <link rel="stylesheet" href="css/plugins.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

     <!-- Navbar -->
    <jcms:module:header/>
    <jcms:module:sub-package-detail/>

    <section class="banner-header full-height valign bg-img" data-overlay-dark="4" data-background="img/banner/11.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="title mb-0">Hall</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Page Details -->
    <section class="page-details section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 mb-30">
                    <div class="row mb-30">
                        <div class="col-md-12">
                            <div class="section-subtitle">Elegant Hall</div>
                            <div class="section-title">About Hall</div>
                            <p>Our hotel hall offers a grand and welcoming space for guests. The elegant decor, featuring luxurious furnishings and tasteful accents, creates a sophisticated ambiance. Whether you're arriving for check-in or waiting to meet friends, the spacious hall provides a comfortable and inviting atmosphere. It's the perfect place to relax, socialize, enjoy stylish surroundings.</p>
                            <p>Our hotel hall is designed with guest convenience in mind. With plenty of seating areas, you can comfortably rest while you wait for your room or your companions. The hall also offers complimentary refreshments and a selection of magazines and newspapers for your enjoyment.Our attentive staff is always available to assist with any inquiries or offer recommendations to enhance your stay.</p>
                        </div>
                    </div>
                   
                </div>
                <div class="col-lg-4 offset-lg-1 col-md-12">
                    <div class="cont">
                        <h5>Hall Amenities</h5>
                        <ul class="list">
                            <li><span><img src="img/icon/projector.png"></span><span>Projector</span></li>
                            <li><span><i class="fa-light fa-wifi"></i></span><span>Free Wi-Fi</span></li>
                            <li><span><img src="img/icon/board.png"></span><span>White Board</span></li>
                            <li><span><i class="fa-light fa-tv"></i></span><span>Cable TV</span></li>
                            <li><span><i class="fa-light fa-baby-carriage"></i></span><span>Free Baby Bed</span></li>
                            <li><span><i class="fa-light fa-air-conditioner"></i></span><span>Conditioner</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered border border-danger mb-30" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                        <thead>
                            <tr>
                                <th scope="col">Hall Name</th>
                                <th scope="col"><img src="img/icon/area.png">Hall Size</th>
                                <th scope="col"><img src="img/icon/u-shaped.png">U Shape</th>
                                <th scope="col"><img src="img/icon/class.png">Classroom</th>
                                <th scope="col"><img src="img/icon/seats-map.png">Theatre</th>
                                <th scope="col"><img src="img/icon/round-table.png">Round Table</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Sagarmatha Hall</th>
                                <td>2200sq. ft</td>
                                <td>60 pax</td>
                                <td>150 pax</td>
                                <td>250 chairs</td>
                                <td>90 pax</td>
                            </tr>
                            
                            <tr>
                                <th scope="row">Koshi Hall</th>
                                <td>1600sq. ft</td>
                                <td>40 pax</td>
                                <td>100 pax</td>
                                <td>180 chairs</td>
                                <td>60 pax</td>
                            </tr>
                            
                            <tr>
                                <th scope="row">Premium lounge</th>
                                <td>400sq. ft</td>
                                <td>20 pax</td>
                                <td>16 pax</td>
                                <td>30 chairs</td>
                                <td>16 pax</td>
                            </tr>
                        </tbody>
                    </table>
            
                    <div class="row mb-30">
                        <div class="col-md-12 text-center">
                            <div class="design-hall">
                                <p class="pb-30" style="font-size: 20px;">Book Your Perfect Event Hall Today! Secure your spot for meetings, parties, conferences, and more.</p>
                                <a href="#" class="button-3" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-thumbs-up"></i> Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Gallery Image -->
    <section class="galleryscroll mb-30">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center mb-20">
                    <!--<div class="section-subtitle">Image Gallery</div>-->
                    <div class="section-title">Hall Gallery</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <a href="img/restaurant/1.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                                <div class="img"> <img src="img/restaurant/1.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="img/restaurant/2.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                                <div class="img"> <img src="img/restaurant/2.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="img/restaurant/3.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                                <div class="img"> <img src="img/restaurant/3.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="img/restaurant/4.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                                <div class="img"> <img src="img/restaurant/4.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="img/restaurant/5.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                                <div class="img"> <img src="img/restaurant/5.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="img/restaurant/6.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                                <div class="img"> <img src="img/restaurant/6.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- Footer -->
    <jcms:module:footer/>
    <!-- Modal -->
    <div class="modal fade hall-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color:#6e2a40;">Hall Enquiry</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="contactform" class="d-flex flex-column gap-3" novalidate="novalidate">
                        <div class="form-group text-start">
                            <label for="name" class="mb-3">Full Name <span class="ninja-forms-req-symbol">*</span></label>
                            <div class="position-relative">
                                <input type="text" name="name" id="name" placeholder="Full Name" required="" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group text-start">
                            <label for="email" class="mb-3">Your Email <span class="ninja-forms-req-symbol">*</span></label>
                            <div class="position-relative">
                                <input type="email" name="email" id="email" placeholder="Enter your email" required="" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group text-start">
                            <label for="phone" class="mb-3">Mobile No. <span class="ninja-forms-req-symbol">*</span></label>
                            <div class="position-relative">
                                <input type="number" name="phone" id="phone" placeholder="Enter your number" required="" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group text-start">
                            <label for="event_name" class=" mb-3">Event Name <span class="ninja-forms-req-symbol">*</span></label>
                            <div class="position-relative">
                                <input type="text" name="event_name" id="event_name" placeholder="Event Name" required="" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group text-start">
                            <label for="event_date" class=" mb-3">Event Date <span class="ninja-forms-req-symbol">*</span></label>
                            <div class="position-relative">
                                <input type="date" name="event_date" id="event_date" placeholder="Event Date" required="" class="hasDatepicker" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group text-start">
                            <label for="pax" class="  mb-3">No. of Pax <span class="ninja-forms-req-symbol">*</span></label>
                            <div class="position-relative">
                                <input type="number" min="1" name="pax" id="pax" placeholder="Enter Pax" required="" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group text-start">
                            <label for="message" class=" mb-3">Message <span class="ninja-forms-req-symbol">*</span></label>
                            <textarea class="form-control" id="message" name="message" placeholder="Message"></textarea>
                        </div>

                        <div class="d-flex flex-wrap justify-content-center gap-4 mt-20 mb-20">
                            <div class="is__social facebook">
                                <div id="result_msg" class="alert-success alert" style="display: none"></div>
                                <button class="theme-btn btn-style sm-btn" type="submit" id="submit"><span>Send</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery-migrate-3.4.1.min.js"></script>
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.isotope.v3.0.2.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scrollIt.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/YouTubePopUp.js"></script>
    <script src="js/select2.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/custom.js"></script>
       <script src='https://www.google.com/recaptcha/api.js' async defer></script>
     <script type="text/javascript">
            // var base_url = $('base').attr('url');
            $(document).ready(function () {
                $('#contactform').validate({
                    errorElement: 'span',
                    errorClass: 'validate-has-error',
                    rules: {
                        name: {required: true},
                        phone: {required: true},
                        event_name: {required: true},
                        event_date: {required: true},
                        pax: {required: true},
                        email: {required: true, email: true},
                        message: {required: true}
                    },
                    messages: {
                        name: {required: "Please enter your Name."},
                        phone: {required: "Please enter your Phone Number."},
                        event_name: {required: "Please enter your events name."},
                        event_date: {required: "Select event date."},
                        pax: {required: "Please enter total no of pax."},
                        email: {required: "Please enter your Email Address."},
                        message: {required: "Please enter your Message."}
                    },
                    submitHandler: function (form) {
                        var recaptcha = $("#g-recaptcha-response").val();
                    if (recaptcha === "") {
                        event.preventDefault();
                        alert("Please check the recaptcha");
                        return false;
                    }
                        var Frmval = $("form#contactform").serialize();
                        $("button#submit").attr("disabled", "true").text('Processing...');
                        $.ajax({
                            type: "POST",
                            dataType: "JSON",
                            url: "enquery_mail.php",
                            data: "action=forHall&" + Frmval,
                            success: function (data) {
                                var msg = eval(data);
                                $("button#submit").removeAttr("disabled").text('Submit');
                                $('div#result_msg').html(msg.message).css('display', 'block').fadeOut(8000);
                                $("form#contactform")[0].reset();
                            }
                        });
                        return false;
                    }
                })
            });
            </script>
           <script>
  document.addEventListener("DOMContentLoaded", function () {
    const eventDateInput = document.getElementById("event_date");

    if (eventDateInput) {
        // Get today's date in the format 'YYYY-MM-DD'
        const today = new Date();
        const formattedToday = today.toISOString().split('T')[0];

        // Set the 'min' attribute to today's date
        eventDateInput.setAttribute("min", formattedToday);
    }
});
</script>
</body>
</html>