<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Welcome to Hotel</title>
    <link rel="shortcut icon" href="img/favicon.png" />
    <link rel="stylesheet" href="css/plugins.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid px-5">
            <!-- Logo -->
            <div class="logo-wrapper">
                <a class="logo" href="index.html"> <img src="img/logo.png" class="logo-img" alt=""> </a>
                <!-- <div class="logo"><h2>Rixos</h2></div> -->
            </div>
            <!-- Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="fa-light fa-bars"></i></span> </button>
            <!-- Menu -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                    <li class="nav-item dropdown"> <a class="nav-link  active dropdown-toggle" href="rooms.html" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Rooms <i class="fa-light fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="room-details.html" class="dropdown-item"><span>Deluxe Single</span></a></li>
                            <li><a href="room-details.html" class="dropdown-item"><span>Deluxe Twin/Double</span></a></li>
                            <li><a href="room-details.html" class="dropdown-item"><span>Super Deluxe Single</span></a></li>
                            <li><a href="room-details.html" class="dropdown-item"><span>Super Deluxe Twin/Double</span></a></li>
                            <li><a href="room-details.html" class="dropdown-item"><span>Deluxe Suite Room</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="hall.html">Hall</a></li>
                    <li class="nav-item"><a class="nav-link" href="restaurant.html">Restaurant</a></li>
                    <li class="nav-item"><a class="nav-link" href="amenities.html">Facilities</a></li>
                    <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                </ul>

                <div class="navbar-right">
                    <div class="phonex"><a href="tel:9801303612"><i class="fa-solid fa-phone"></i> +977 9801303612</a></div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Header Banner -->
    <section class="banner-header bg-img bg-fixed" data-overlay-dark="5" data-background="img/rooms/03.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title">Our Rooms</div>
                    <!--<div class="subtitle">Our Luxury Hotel</div>-->
                </div>
            </div>
        </div>
    </section>

    <!-- Rooms 1 -->
    <section class="rooms1 section-padding" style="padding-top:70px;">
        <div class="container">
            <h6 class="w-75 mb-60 text-center" style="margin:auto;">The hotel offers 53 Deluxe rooms and 3 elegant Suites, all fully air-conditioned and beautifully furnished. Each room is equipped with modern amenities to ensure a comfortable and luxurious stay.</h6> 
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-30">
                    <div class="item">
                        <div class="img"> 
                            <img src="img/rooms/a.jpg" alt="">
                        </div>
                        <div class="wrap">
                            <div class="cont">
                                <div class="price">$200 <span>/ night</span></div>
                                <h3><a href="#">Deluxe Single</a></h3>
                                <div class="details"> <span><i class="fa-thin fa-user"></i> 2 adult + 1 child</span> <span><i class="fa-thin fa-bed"></i> King bed</span> </div>
                            </div>
                            <div class="arrow"> <a href="room-details.html"><span class="fa-regular fa-arrow-right"></span></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-30">
                    <div class="item">
                        <div class="img"> <img src="img/rooms/b.jpg" alt=""> </div>
                        <div class="wrap">
                            <div class="cont">
                                <div class="price">$200 <span>/ night</span></div>
                                <h3><a href="#">Deluxe Twin/ Double</a></h3>
                                <div class="details"> <span><i class="fa-thin fa-user"></i> 2 adult + 1 child</span> <span><i class="fa-thin fa-bed"></i> King bed</span> </div>
                            </div>
                            <div class="arrow"> <a href="room-details.html"><span class="fa-regular fa-arrow-right"></span></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-30">
                    <div class="item">
                        <div class="img"> <img src="img/rooms/c.jpg" alt=""> </div>
                        <div class="wrap">
                            <div class="cont">
                                <div class="price">$250 <span>/ night</span></div>
                                <h3><a href="#">Super Deluxe Single</a></h3>
                                <div class="details"> <span><i class="fa-thin fa-user"></i> 2 adult + 1 child</span> <span><i class="fa-thin fa-bed"></i> King bed</span> </div>
                            </div>
                            <div class="arrow"> <a href="room-details.html"><span class="fa-regular fa-arrow-right"></span></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-30">
                    <div class="item">
                        <div class="img"> 
                            <img src="img/rooms/d.jpg" alt="">
                        </div>
                        <div class="wrap">
                            <div class="cont">
                                <div class="price">$300 <span>/ night</span></div>
                                <h3><a href="#">Super Deluxe Twin/Double</a></h3>
                                <div class="details"> <span><i class="fa-thin fa-user"></i> 2 adult + 1 child</span> <span><i class="fa-thin fa-bed"></i> King bed</span> </div>
                            </div>
                            <div class="arrow"> <a href="room-details.html"><span class="fa-regular fa-arrow-right"></span></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-30">
                    <div class="item">
                        <div class="img"> 
                            <img src="img/rooms/e.jpg" alt="">
                        </div>
                        <div class="wrap">
                            <div class="cont">
                                <div class="price">$350 <span>/ night</span></div>
                                <h3><a href="#">Deluxe Suite Room</a></h3>
                                <div class="details"> <span><i class="fa-thin fa-user"></i> 2 adult + 1 child</span> <span><i class="fa-thin fa-bed"></i> King bed</span> </div>
                            </div>
                            <div class="arrow"> <a href="room-details.html"><span class="fa-regular fa-arrow-right"></span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <!-- top -->
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-30">
                        <div class="item">
                            <h3>About Rixos</h3>
                            <p>A four star hotel with prime location in country is the most luxurious accommodation you can find till date in the entire Municipality, lying in the eastern part of Country.</p>
                            <div class="social-icons">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1 mb-30">
                        <div class="item">
                            <h3>Contact us</h3>
                            <p>Nepal, Nepal,
                                <br> Nepal
                            </p>
                            <div class="phone"><a href="tel:+977 21-475209">+977 21-475209</a></div>
                            <div class="mail"><a href="mailto:info@bighotel.com">info@example.com</a></div>
                            <p><a href="#" target="_blank">View Google Map</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="item">
                            <h3>Booking Platforms</h3>
                            <div class="social-icons1">
                                <ul class="card1 card1a">
                                    <li><img src="img/icon/booking.png" alt="visa"></li>
                                    <li><img src="img/icon/ta.png" alt="paypal"></li>
                                    <li><img src="img/icon/ma.png" alt="mastercard"></li>
                                </ul>
                            </div>
                            <div class="newsletter">
                                <h6 style="color: #fff;font-size: 19px;">We accepts</h4>
                            </div>
                            <div class="social-icons1">
                                <ul class="card1">
                                    <li><img src="img/icon/visa.png" alt="visa"></li>
                                    <li><img src="img/icon/paypal.png" alt="paypal"></li>
                                    <li><img src="img/icon/mastercard.png" alt="mastercard"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bottom -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center">
                        <p>© Copyright 2024. All Rights Reserved. Developed by  <a href="https://longtail.info/">Longtail e-media</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="whats_app">
        <a href="#" target="_blank" class="whatsapp">
            <img src="img/icon/whatsapp.png">
        </a>
    </div>
    <!-- jQuery -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/jquery-migrate-3.4.1.min.js"></script>
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.isotope.v3.0.2.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scrollIt.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/YouTubePopUp.js"></script>
    <script src="js/select2.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>